html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

canvas {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper {
    width: 512px;
    margin: 0 auto;
    margin-top: 2em;
}

#instructions {
    float: left;
    font-family: sans-serif;
    color: #757575;
}

.scores {
    float: right;
    color: white;
    font-size: 1.3em;
}

.scores .value,
.scores img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.scores .score-item {
    text-align: right;
}

.key {
    color: #aaffdd;
}

#game-over, #game-over-overlay {
    margin: auto;
    width: 512px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
    margin-top: 12%;
}

#game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-over h2 {
    font-family: sans-serif;
}

#game-over button {
    font-size: 1.5em;
}

button {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(165, 165, 165, 0.534);
}