body {
    padding: 0;
    margin: 0;
    background: url('../img/grid.png') 0 0 repeat;
}

/* Основные блоки */
.content {
    margin: 0 auto;
    width: 80%;
}

.content .block {  
    width: 49%;
    margin-bottom: 30px;
}

.content .block-left {
    float: left;
}

.content .block-right {
    float: right;
}


/* Разделитель */

.content .separator {
    clear: both;
    display: block;
    height: 8px;
    width: 100%;
    margin: 10px 0;
    border-top: 4px dotted gray;
    position: relative;
}

.content .separator .up-button {
    position: absolute;
    right: 15px;
    top: -22px;
}


/* Теги в блоках */

.content .block h1 {
    margin: 0;
    padding: 0;
    font-family: 'IMPACT', 'Verdana', sans-serif;
    text-transform: uppercase;
    font-size: 58pt;
    text-align: left;
    font-weight: bold;
}

.content .block h2 {
    margin: 0;
    padding: 0;
    font-family: 'IMPACT', 'Verdana', sans-serif;
    text-transform: uppercase;
    font-size: 22pt;
    font-weight: bold;
    color: rgb(248, 208, 31);
}


/* Раздел кто я */


.content .img {
    display: block;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border: 2px solid rgb(182, 182, 182);
    width: 120px;
    height: 145px;
    border-radius: 3px;
    float: left;
}

.content .img .my-photo {
    width: 100%;
}

.content .description {
    padding: 20px;    
}

.content .text {
    font-style: italic; 
    font-size: 16px;   
    text-align: left;
}

.content .text p {
    margin: 5px;
}

.content img.quote {
    margin-top: 20px;
    margin-left: 15px;
}

.content .imp {
    vertical-align: middle;
    margin-left: 10px;
    font-weight: bold;
}


/* Раздел достижения */

.content .progress {
    position: relative;
    box-sizing: border-box;
    margin: 20px;
    width: 100%;
    font-size: 0;
}

.content .progress {
    position: relative;
    box-sizing: border-box;
    margin: 20px;
    width: 100%;
    font-size: 0;
}

.content .progress .progressbar{
    position: relative;
    display: inline-block;
    height: 25px;
    width: 70%;
}


.content .progress .left-progress {  
    margin: 0;
    height: 25px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    background: url('../img/progress/front-left.png') 0 0 no-repeat;
}

.content .progress .right-progress {  
    margin: 0;
    height: 25px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    background: url('../img/progress/back-right.png') 0 0 no-repeat;
}

.content .progress progress {    
    margin: 0;
    height: 25px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    background: url('../img/progress/back-center.png') 0 0 no-repeat;
}

.content .progress progress::-webkit-progress-bar {
    background: url('../img/progress/back-center.png') 0 0 repeat-x;
}

.content .progress progress::-webkit-progress-value {
    background: url('../img/progress/front-center.png') 0 0 repeat-x;
}

.content .progress .progress-percent {
    margin-left: 10px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    font-style: italic;
    font-weight: bold;
}

.content .progress .progress-title {
    font-size: 14px;
    position: absolute;
    left: 30px;
    top: 5px;
    font-style: italic;
    font-weight: bold;
}

/* Описание  услуг*/

.content .img-services {
    float: left;
    margin-right: 20px;
}

/* Раздел награды */

.content .award {
    display: inline-block;
    width: 30%;
    min-height: 120px;
    background: rgb(248, 208, 31) url('../img/flag.png') 90% 0 no-repeat;
    margin-right: 4px;
    border-radius: 5px 0 10px 0;
}